@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

:root {
  --black-primary: #131313;
  --grey-primary: #C4C4C4;
  --white-primary: #f5f5f5;
}

html, 
body, 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
